<div >
	<div class="w3-container center w3-margin w3-padding">
		<button class="w3-button w3-bottombar" style="display: inline-block; color:#354357" onclick="goalTab('viewGoals')">View Goals</button>
		<button class="w3-button w3-bottombar" style="display: inline-block; color:#354357"  onclick="goalTab('createGoal')">Create Goal</button>
	</div>
	<div class="" id="myDashboard">
		<div id='viewGoals' class="goalTabs" style="display: none">	
			<div id="goalsDiv" style="margin-left:6%" class="w3-animate-left">
			  <div v-for="(key,item) in commonData.Dashboard.goals" class="single-goal " :id="key" style="" onclick="viewSingleGoal(this.id)">
			  	<div style="background: #2B333E; height:150px; max-height: 150px; overflow: hidden;    margin: 4px!important;" class="w3-text-white w3-card-4 w3-round w3-padding w3-hover-opacity w3-hover-shadow" >
				  	<div class="display-block input-text-medium " style="">
				  		&#8358;{{ item.GoalAmount }}
				  	</div>
				  	<div class="" style="margin-top: 10px">
				  		<div class="input-text-goal">{{ item.ItemName }}</div><center>
				  		<div class="input-text-fixed" style="margin-bottom: 3px">{{ item.ItemDescription }}</div></center>
				  	</div>
				</div>
			  </div>
			  <div class="single-goal" style="" id="createGoalDiv" onclick="goalTab('createGoal')">
			  	<div style=" height:150px; max-height: 150px; overflow: hidden;" class=" w3-card-4 w3-white w3-round w3-padding w3-text-white" >
				  	<center>
				  		<div class="display-block " style=""></div>
				  		<div class=" " style="margin-top: 10px;">
				  			<span class='display-block w3-text-black input-text-medium'>New Goal</span>
				  			<img class="icon-new-mod" style="width: 120px; margin-top: 0px;" src="img/LineIcons/GoalCategories(Icons)/pdi_gc_custom_goal_icon.png">
				  			</span>
				  		</div>
				  		
				  	</center>
				  		
				</div>
			  </div>
			</div>
		</div>
	</div>
	<div id='viewSingleGoal' class="goalTabs" >	
		<div id="goalsDiv" style="margin-left:6%" class="">
		  <div v-for="item in commonData.Dashboard.goals" class="single-goal w3-animate-right" :id="item.GoalId" style="" onclick="viewSingleGoal(this.id)">
		  	<div style="background: #2B333E; height:150px; max-height: 150px; overflow: hidden;    margin: 4px!important;" class="w3-text-white w3-card-4 w3-round w3-padding w3-hover-opacity w3-hover-shadow" >
			  	<div class="display-block input-text-medium " style="">
			  		&#8358;{{ item.GoalAmount }}
			  	</div>
			  	<div class="" style="margin-top: 10px">
			  		<div class="input-text-goal">{{ item.ItemName }}</div><center>
			  		<div class="input-text-fixed" style="margin-bottom: 3px">{{ item.ItemDescription }}</div></center>
			  	</div>
			</div>
		  </div>
		  <div class="single-goal" style="" id="createGoalDiv"   onclick="goalTab('createGoal')">
		  	<div style="background: #354357; height:150px; max-height: 150px; overflow: hidden;" class=" w3-card-4 w3-round w3-padding w3-text-white" >
			  	<center>
			  		<div class="display-block " style=""></div>
			  		<div class=" " style="margin-top: 20px;">
			  			<span class='display-block input-text-medium'>New Goal</span>
			  			<span class="fa fa-plus icon-mod" style="margin-top: 15px;">
			  			</span>
			  		</div>
			  		
			  	</center>
			  		
			</div>
		  </div>
		</div>
	</div>
	<div id='createGoal' class="goalTabs" >
	    <section id="createGoalDiv" class="w3-white" style="font-weight: 0px;">
	    <div class=" col-lg-12 w3-margin-left w3-padding">
	        <div class="">
	            <form action="#"onsubmit="event.preventDefault();createGoal(null)" id="step1" method="post" class="w3-animate-right stages">
	            <div class=" m12 l12 m12">
	              <div class="display-block center">
	                  <h5>Create  Goal</h5>
	              </div>
	              <div class="">
	                <label class="input-text-goal w3-left">Goal Title</label>
	                <input type="text" class="form-control w3-input" style="height: 3.2rem; padding-left:10px " placeholder="Enter Goal Name" v-model="cgvm.ItemName" required="" value="">
	              </div>
	            </div>
	                <div class="col-sm-11 ">
	                    <label class="input-text-goal w3-left display-block"><br/>Goal Description:</label>
	                  <textarea style="padding-left:10px " class="form-control w3-input w3-textarea col-lg-12" v-model="cgvm.ItemDescription" rows="6"></textarea>
	              </div>
	                <div class="form-group inline col-lg-1 left margin">
	                </div>
	                <br/>
	             <div class="form-group inline col-lg-5 left margin">
	              <label class="input-text-goal w3-left">Total Amount of Goal:</label>
	              <input type="text" class="form-control w3-input custom-amount number" style="height: 3.2rem; padding-left:10px;width:100%" placeholder="Enter Goal Amount" v-model="cgvm.GoalAmount" required="" id="custom-amount" value="">
	            </div>
	             <div class="form-group inline col-lg-5 left margin">
	              <label class="input-text-goal w3-left">You will invest the sum of:</label>
	              <input type="text" style="height: 3.2rem; padding-left:10px " required="" v-model="cgvm.MonthlyDeduction" class="form-control w3-input custom-deduction number" id="custom-deduction" value="">
	            </div>
	                 <div class="form-group inline col-lg-1 left margin">
	                </div>
	             <div class="form-group inline col-lg-5 left margin">
	              <label class="input-text-goal w3-left">Number of Deductions:</label>
	              <input type="text" class="form-control w3-input custom-duration" style="height: 3.2rem; padding-left:10px " tabindex="-1" readonly="readonly" required="" v-model="cgvm.Duration" id="custom-duration" value="">
	            </div>



	            <div class="form-group inline col-lg-5 left margin">
	              <label class="input-text-goal w3-left">Frequency:</label>
	              <select v-model="cgvm.Frequency" required="" data-placement="bottom" id="frequency" class="form-control w3-input frequency">
	                  <option value="">Debit Frequency</option>
	                  <option value="Daily">Daily</option>
	                  <option value="Weekly">Weekly</option>
	                  <option value="Monthly">Monthly</option>
	              </select>
	            </div>
	            <div class="form-group inline col-lg-1 left margin">
	                </div>
	             <div class="form-group inline col-lg-5 left margin frequency-depend display-block" style="display: none;">
	              &nbsp;
	              <label class="input-text-goal w3-left">Day To Be Debited:</label>
	              <div class="col-xs-12 text-field" id="monthDays">
	              <select v-model="cgvm.monthDays" class="form-control w3-input" data-toggle="tooltip" data-placement="bottom" data-original-title="" title="">
	                            <option value="1">1</option>
	                            <option value="2">2</option>
	                            <option value="3">3</option>
	                            <option value="4">4</option>
	                            <option value="5">5</option>
	                            <option value="6">6</option>
	                            <option value="7">7</option>
	                            <option value="8">8</option>
	                            <option value="9">9</option>
	                            <option value="10">10</option>
	                            <option value="11">11</option>
	                            <option value="12">12</option>
	                            <option value="13">13</option>
	                            <option value="14">14</option>
	                            <option value="15">15</option>
	                            <option value="16">16</option>
	                            <option value="17">17</option>
	                            <option value="18">18</option>
	                            <option value="19">19</option>
	                            <option value="20">20</option>
	                            <option value="21">21</option>
	                            <option value="22">22</option>
	                            <option value="23">23</option>
	                            <option value="24">24</option>
	                            <option value="25">25</option>
	                            <option value="26">26</option>
	                            <option value="27">27</option>
	                            <option value="28">28</option>
	                            <option value="29">29</option>
	                            <option value="30">30</option>
	                            <option value="31">31</option>
	                        </select>
	                    </div>

	              <div class="col-xs-12 text-field" id="weekDays">
	                  <select class="form-control w3-input" v-model="cgvm.weekDays" data-toggle="tooltip" data-placement="bottom" data-original-title="" title="">
	                      <option value="Sunday">Sunday</option>
	                      <option value="Monday">Monday</option>
	                      <option value="Tuesday">Tuesday</option>
	                      <option value="Wednesday">Wednesday</option>
	                      <option value="Thursday">Thursday</option>
	                      <option value="Friday">Friday</option>
	                      <option value="Saturday">Saturday</option>
	                  </select>
	              </div>
	            </div>
	               <div class="clearfix"></div>
	                  <hr>
	                   <!--  <label class="input-text-goal w3-left">Choose Card:</label>
	                    <div class="card-holder">
	                        <div class="col-md-6 col-lg-5 col-sm-12 col-xs-12 no_padding">
	                            <div class="card-select">
	                                <h6> :: No card. <a href="javascript:void(0)">Add a card</a></h6>
	                            </div>
	                        </div>
	                    </div> -->
	                    <label class="input-text-goal w3-left">Select Goal Image:</label>
	                  <div class="form-group form-field-holder">
	                    <div class="form-icon-holder col-xs-2" id="username-icon-holder">
	                        <i class="fa fa-circle" aria-hidden="true"></i>
	                    </div>
	                    <div class="col-xs-10 text-field" id="username-field">
	                        <input type="file" class='w3-input' placeholder="Goal Image" value="" id="GoalUpload" required="" data-toggle="tooltip" data-placement="bottom" accept="image/*">
	                    </div>
	                </div>
	                    <div class="col-lg-11 form-group">
	                        <br><br>
	                        <button type="submit" class="w3-bar w3-button w3-border-0 w3-text-white w3-large w3-right header-color" >Submit</button>
	                    </div>
	            </form>

	        </div>
	    </div>
	    </section>
	</div>
	<button onclick="goalTab('createGoal')" class="w3-button w3-circle w3-text-white floating-btn w3-buttom" style="background:#354357">
		<small><span class="fa fa-plus" style="    font-size: 5em !important; padding-top: 4px"></span></small>
	</button>
</div>


<script src="secured/controller/myDashboard.js"></script>
<script type="text/javascript" src="secured/controller/goal.js"></script>
<script type="text/javascript" src="assets/js/jquery.validate.js"></script>
<script type="text/javascript" src="assets/js/jquery-ui.js"></script>  
<script type="text/javascript" src="assets/js/pwstrength.js"></script> 
<script type="text/javascript" src="assets/js/index.js"></script> 

