
<div >
	<div class="w3-container center w3-margin w3-padding"> 
		<button class="w3-button w3-bottombar" style="display: inline-block; color:#354357" onclick="goalTab('viewGoals')">My Goals</button>
		<button class="w3-button w3-bottombar" style="display: inline-block; color:#354357"  onclick="goalTab('createGoal')">New Goal</button>
	</div> 
	<div class="" id="myDashboard">
		<div id='viewGoals' class="goalTabs" style="display: none">	
			<div id="goalsDiv" style="margin-left:6%" class="w3-animate-left">
			  <div v-for="item in commonData.Dashboard.goals" class="single-goal " :id="item.GoalId"onclick="viewSingleGoal(this.id)">
				<div style="background: #29313C; overflow: auto;margin: 4px!important;background-size: 100%;background-position: center;background-repeat: no-repeat;"  v-bind:style="{ backgroundImage: 'url(' + item.GoalImage + ')' }" class="w3-text-white w3-card-4 w3-round w3-padding w3-hover-opacity w3-hover-shadow" >
					
					<div style="padding-top:60px" class="w3-left">
						<div style="" class="w3-black w3-padding w3-opacity">
							
							<div class="display-block input-text-medium " style="">
								<div class="input-text-fixed" style="margin-bottom: 3px"><b><strong>{{ item.ItemName }}</strong></b></div>
							</div>
							<div class="" style="margin-top: 2px">	
								&#8358;{{ item.GoalAmount }}											  
							</div>
						</div>
						
					</div>  
					
				</div>
			  </div>
			  <div class="single-goal" style="" id="createGoalDiv" onclick="goalTab('createGoal')">
			  	<div style=" overflow: auto;" class=" w3-card-4 w3-white w3-round w3-padding w3-text-white" >
				  	<center>
				  		<div class="display-block " style=""></div>
				  		<div class=" " style="margin-top: 10px;">
				  			<span class='display-block w3-text-black input-text-medium'>New Goal</span>
				  			<img class="icon-new-mod" style="width: 120px; margin-top: 0px;" src="img/LineIcons/GoalCategories(Icons)/pdi_gc_custom_goal_icon.png">
				  			</span>
				  		</div>
				  		
				  	</center>
				  		
				</div>
			  </div>
			</div>
		</div>  
	</div>
	<div id='viewSingleGoal' class="goalTabs">	
		<div id="goalsDiv" style="" class="">
		  <div class="w3-animate-right "  style="">
		  	<div v-bind:style="{ backgroundImage: 'url(' + sgdata.GoalImage + ')' }" class="singleGoalWithImageDiv w3-text-white w3-card-4 w3-round w3-hover-opacity w3-hover-shadow" > 
			  	<div class="" style="padding-top:50%;">
					<div class="w3-opacity-min" style="background:#29313C;">
						<div class="input-text-medium w3-margin-left" style="padding-top:5px">{{ sgdata.ItemName }}</div>								
						<div class="display-block input-text-large w3-margin-left" style="">
							&#8358;{{ sgdata.GoalAmount }}
						</div>
					</div>
				  </div>
				  <div style="background:#29313C;" class="input-text-large w3-round">
						<div class="w3-center w3-container w3-padding" style="font-size: 2.65vw;"> 
								<div class="m3 l3 s3" style="display: inline-block;
								width: 27%; margin-right:7px">
									<span style="" class="">
										Amount Attained
									</span><br/>
									<span style="">
											&#8358;{{sgdata.AmountAttained}}									
									</span>
								</div>
								<div class="m3 l3 s3" style="display: inline-block;
								width: 30%;  margin-right:7px">
									<span style="" class="">
										Monthly Deduction
									</span><br/>
									<span style="">
											&#8358;{{sgdata.MonthlyDeduction}}								
									</span>
								</div>
								<div class="m3 l3 s3" style="display: inline-block;
								width: 20%;">
									<span style="display:block" class="">
											Amount Left
									</span>
									<span style="display:block">
											&#8358;{{sgdata.GoalAmount  - sgdata.AmountAttained}}								
									</span>
								</div>
								
						</div>
						
					</div>
					
			</div>
			<div style="" class="input-text-large">
				<div class=" w3-container" style="font-size: 2.65vw;"> 
					<button class="w3-button w3-padding w3-text-black" style="background:transparent!important" onclick="goalOptions(this.id)" id="Edit_Goal">
						<span style="text-align: -webkit-center;">
							<img src="img/LineIcons/Secondary(Icons)/edit_goal.png" class="navIcon" style="display:block!important;margin-bottom: 0.5px;"/>
							<span>Edit Goal</span>
						</span>
					</button>
					<button v-if="sgdata.Status =='Active'" class="w3-button w3-padding w3-text-black" onclick="goalOptions(this.id)" style="background:transparent;" id="Suspend_Goal">
						<span style="text-align: -webkit-center;">
							<img src="img/LineIcons/Secondary(Icons)/suspend_goal.png" class="navIcon" style="display:block!important;margin-bottom: 0.5px;filter: brightness(0);"/>
							<span>Suspend</span>
						</span>
					</button>
					<button v-if="sgdata.Status =='Suspended'" class="w3-button w3-padding w3-text-black" onclick="goalOptions(this.id)" style="background:transparent;" id="Resume_Goal">
						<span style="text-align: -webkit-center;">
							<img src="img/LineIcons/Secondary(Icons)/resume_goal.png" class="navIcon" style="display:block!important;margin-bottom: 0.5px;"/>
							<span>Resume</span>
						</span>
					</button>
					<button class="w3-button w3-padding w3-text-black" style="background:transparent; " onclick="goalOptions(this.id)" id="Delete_Goal">
						<span style="text-align: -webkit-center;">
							<img src="img/LineIcons/Secondary(Icons)/delete_goal.png" class="navIcon" style="display:block!important;margin-bottom: 0.5px;"/>
							<span>Delete</span>
						</span>
					</button>
					<button class="w3-button w3-padding w3-text-black" style="background:transparent!important" onclick="goalOptions(this.id)"id="Top_Up">
						<span style="text-align: -webkit-center;">
							<img src="img/LineIcons/Secondary(Icons)/top_up.png" class="navIcon" style="display:block!important;margin-bottom: 0.5px;filter: brightness(0);"/>
							<span>Top Up</span>
						</span>
					</button>
					<button class="w3-button w3-padding w3-text-black" style="background:transparent!important" onclick="goalOptions(this.id)"id="More_Options">
						<span style="text-align: -webkit-center;">
							<img src="img/LineIcons/Secondary(Icons)/goal_option_icon.png" class="navIcon" style="display:block!important;margin-bottom: 0.5px;filter: brightness(0);"/>
							<span>More</span>
						</span>
					</button>
				</div>
				<div class=" w3-container" style="font-size: 2.65vw; display:none" id="moreOptionsDiv"> 
					<button class="w3-button w3-padding w3-text-black" onclick="goalOptions(this.id)" style="background:transparent;" id="Move_Excess">
						<span style="text-align: -webkit-center;">
							<img src="img/LineIcons/Secondary(Icons)/move_excess.png" class="navIcon" style="display:block!important;margin-bottom: 0.5px;filter:brightness(0)"/>
							<span>Move<br/>Excess</span>
						</span>
					</button>
					<button class="w3-button w3-padding w3-text-black" onclick="goalOptions(this.id)" style="background:transparent;" id="Part_Withdrawal">
						<span style="text-align: -webkit-center;">
							<img src="img/LineIcons/Secondary(Icons)/part_withdrawal.png" class="navIcon" style="display:block!important;margin-bottom: 0.5px;filter:brightness(0)"/>
							<span>Part<br/>Withdrawal</span>
						</span>
					</button>
					<button class="w3-button w3-padding w3-text-black" onclick="goalOptions(this.id)" style="background:transparent;" id="Transfer_To_Wallet">
						<span style="text-align: -webkit-center;">
							<img src="img/LineIcons/Secondary(Icons)/transfer_to_wallet.png" class="navIcon" style="display:block!important;margin-bottom: 0.5px;filter:brightness(0)"/>
							<span>Transfer<br/>to wallet</span>
							
						</span>
					</button>
					<button class="w3-button w3-padding w3-text-black" onclick="goalOptions(this.id)" style="background:transparent;" id="Redeem_Goal">
						<span style="text-align: -webkit-center;">
							<img src="img/LineIcons/Secondary(Icons)/redeem_goal.png" class="navIcon" style="display:block!important;margin-bottom: 0.5px;filter:brightness(0)"/>
							<span>Redeem<br/>Goal</span>
						</span>
					</button>
				</div>	
			</div>
		  </div>
		  
		</div>
		<div id="extendedGoalUI" class="w3-modal">
			<div class="w3-modal-content" style="margin-top:50px">
				<div id="editGoal" style="display:none" class="extendGoalDivs">
					
					<header class="w3-container w3-padding w3-text-white input-text-medium" style="background:#29313C"> 
						<span onclick="document.getElementById('extendedGoalUI').style.display='none'" style="background:transparent" class="w3-button w3-display-topright input-text-large">&times;</span>
						Edit Goal
					</header>

					<div id='' class="" >
						<section id="editGoalDivApp" class="w3-white" style="font-weight: 0px;">
							<div class=" col-lg-12 w3-margin-left w3-padding">
								<div class="">
									<form action="javascript:void(0)"onsubmit="event.preventDefault();" id="step1" method="post" class="w3-animate-right stages">
									<div class=" m12 l12 m12">
										<div class="">
										<label class="input-text-goal w3-left">Goal Title</label>
										<input type="text" class="form-control w3-input" style="height: 3.2rem; padding-left:10px " placeholder="Enter Goal Name" v-model="sgdata.ItemName" required="" value="">
										</div>
									</div>
										<div class="col-sm-11 ">
											<label class="input-text-goal w3-left display-block"><br/>Goal Description:</label>
											<textarea style="padding-left:10px " class="form-control w3-input w3-textarea col-lg-12" v-model="sgdata.ItemDescription" rows="6"></textarea>
										</div>
										<div class="form-group inline col-lg-1 left margin">
										</div>
										<br/>
										<div class="form-group inline col-lg-5 left margin">
										<label class="input-text-goal w3-left">Total Amount of Goal:</label>
										<input type="text" class="form-control w3-input custom-amount number" style="height: 3.2rem; padding-left:10px;width:100%" placeholder="Enter Goal Amount" v-model="sgdata.GoalAmount" required="" id="custom-amount" value="">
									</div>
										<div class="form-group inline col-lg-5 left margin">
										<label class="input-text-goal w3-left">You will invest the sum of:</label>
										<input type="text" style="height: 3.2rem; padding-left:10px " required="" v-model="sgdata.MonthlyDeduction" class="form-control w3-input custom-deduction number" id="custom-deduction" value="">
									</div>
											<div class="form-group inline col-lg-1 left margin">
										</div>
										<div class="form-group inline col-lg-5 left margin">
										<label class="input-text-goal w3-left">Number of Deductions:</label>
										<input type="text" class="form-control w3-input custom-duration" style="height: 3.2rem; padding-left:10px " tabindex="-1" readonly="readonly" required="" v-model="sgdata.Duration" id="custom-duration" value="">
									</div>
									<div class="form-group inline col-lg-5 left margin">
										<label class="input-text-goal w3-left">Frequency:</label>
										<select v-model="sgdata.Frequency" required="" data-placement="bottom" id="frequency" class="form-control w3-input frequency">
											<option value="">Debit Frequency</option>
											
											<option value="Weekly">Weekly</option>
											<option value="Monthly">Monthly</option>
										</select>
									</div>
									<div class="form-group inline col-lg-1 left margin">
									</div>
									<div class="form-group inline col-lg-5 left margin frequency-depend display-block" style="display: none;">
										&nbsp;
										<label class="input-text-goal w3-left">Day To Be Debited:</label>
										<div class="col-xs-12 text-field" id="monthDays">
										<select v-model="sgdata.monthDays" class="form-control w3-input" data-toggle="tooltip" data-placement="bottom" data-original-title="" title="">
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
													<option value="8">8</option>
													<option value="9">9</option>
													<option value="10">10</option>
													<option value="11">11</option>
													<option value="12">12</option>
													<option value="13">13</option>
													<option value="14">14</option>
													<option value="15">15</option>
													<option value="16">16</option>
													<option value="17">17</option>
													<option value="18">18</option>
													<option value="19">19</option>
													<option value="20">20</option>
													<option value="21">21</option>
													<option value="22">22</option>
													<option value="23">23</option>
													<option value="24">24</option>
													<option value="25">25</option>
													<option value="26">26</option>
													<option value="27">27</option>
													<option value="28">28</option>
													<option value="29">29</option>
													<option value="30">30</option>
													<option value="31">31</option>
												</select>
											</div>
					
										<div class="col-xs-12 text-field" id="weekDays">
											<select class="form-control w3-input" v-model="sgdata.weekDays" data-toggle="tooltip" data-placement="bottom" data-original-title="" title="">
												<option value="Sunday">Sunday</option>
												<option value="Monday">Monday</option>
												<option value="Tuesday">Tuesday</option>
												<option value="Wednesday">Wednesday</option>
												<option value="Thursday">Thursday</option>
												<option value="Friday">Friday</option>
												<option value="Saturday">Saturday</option>
											</select>
										</div>
										
										
									</div>
									<div class="clearfix"></div>
									<hr>
									
									<label class="input-text-goal w3-left">Select A Card:</label>
									<div class="card-holder">
										<span v-if="sgdata.userCards">
										<select v-if="sgdata.userCards[0].CardNo" class="form-control w3-input" onchange="onChangeCard()"  id="cards" required='' data-toggle="tooltip" data-placement="bottom" data-original-title="" title="">
											<option></option>
											<option v-for="n in sgdata.userCards" :fwCode='n.FWCode' :id="n.Id">{{ n.CardNo }}</option>
										</select>
										</span>	
										<span v-if="!sgdata.userCards">
										<button v-if="!sgdata.userCards" class="w3-button w3-green w3=margin w3-padding" onclick="renda.component('card','view','dashboardDisplayDiv');">Add Card</button>
										</span><br>
									</div>
								</div>
								<label class="input-text-goal w3-left">Select Goal Image:</label>
								<div class="form-group form-field-holder">
									
									<div class="col-xs-10 text-field" id="username-field">
										<input type="file" class='w3-input' placeholder="" value="" id="GoalUpload" required="" data-toggle="tooltip" data-placement="bottom" accept="image/*">
									</div>
								</div>
								<div class="col-lg-11 form-group">
									<br>
									<button type="" class="w3-bar w3-button w3-border-0 w3-text-white w3-large w3-third w3-left header-color" style="width:40%!important" onclick="document.getElementById('extendedGoalUI').style.display='none';goalTab('viewGoals')">Cancel</button>									
									<button type="submit" class="w3-bar w3-button w3-border-0 w3-text-white w3-large e3-third w3-right header-color" style="width:40%!important" onclick="editGoal(null)">Modify Goal</button>
								</div>
								</form>
					
								</div>
							</div>
						</section>
					</div>
				
				</div>
				<div id="topUpGoal" style="display:none" class="extendGoalDivs">
					<div class="w3-container center w3-margin w3-padding" style="background:#29313C"> 
						<button class="w3-button" style="display: inline-block; color:white" onclick="topUpOptionsTab('topUpFromCard')">From Card</button>
						<button class="w3-button" style="display: inline-block; color:white"  onclick="topUpOptionsTab('topUpFromWallet')">From Wallet</button>
					</div> 
					<div id="topUpOptionsDiv">
						<div id="topUpFromCard" class="topUpOptions">
							<header class="w3-container w3-padding w3-text-white input-text-medium" style="background:white;color:black!important;padding-top: 20px!important;"> 
								<span onclick="document.getElementById('extendedGoalUI').style.display='none'" style="background:transparent" class="w3-button w3-display-topright input-text-large">&times; </span>
								<span class="w3-margin w3-padding">Top Up {{sgdata.ItemName}} With Card</span>
							</header>
		
							<div id='' class="" >
								<section id="topUpGoalDivApp" class="w3-white" style="font-weight: 0px;">
									<div class=" col-lg-12 w3-margin-left w3-padding">
										<div class="">
										<form action="javascript:void(0)"onsubmit="event.preventDefault();" id="step1" method="post" class="w3-animate-right stages">
											<div class="w3-margin">
												<span class="fa w3-xxlarge" style="position:absolute;margin-left: 3px;">&#8358;</span>                            
												<input class="w3-input w3-text-white w3-padding customized-input font-medium" type="number" placeholder="Enter Amount to Top Up Goal"  id="GoalAmount" required="" style="padding-left:50px!important; width:86%;color:black!important">      
											</div>
											<div class="w3-margin">
												<hr>
												<label class="input-text-goal w3-left">Select A Card:</label>
												<div class="card-holder">
													<span v-if="sgdata.userCards">
													<select v-if="sgdata.userCards[0].CardNo" class="form-control w3-input" onchange=""  id="topUpCards" required='' data-toggle="tooltip" data-placement="bottom" data-original-title="" title="">
														<option></option>
														<option v-for="n in sgdata.userCards" :fwCode='n.FWCode' :id="n.Id">{{ n.CardNo }}</option>
													</select>
													</span>	
													<span v-if="!sgdata.userCards" class="">
														<button v-if="!sgdata.userCards" class="w3-button w3=margin w3-padding" onclick="renda.component('card','view','dashboardDisplayDiv');" style="background-color: #464646!important;margin-left:10px;color:white">Add Card</button>
													</span><br>
												</div>
											</div>
											<div class="" style="margin-top:8px!important;text-align: center"> 
												<button type="button" class="w3-button"  onclick="document.getElementById('extendedGoalUI').style.display='none'" style="display: inline-block!important;width:48%;background: #323943; color:#fff!important">Cancel</button>
												<button type="button" class="w3-button pdy-green" onclick="Top_Up_Goal(null,'card')" style=" display: inline-block!important;width:48%">Top Up</button>
											</div>
										</form>
							
										</div>
									</div>
								</section>
							</div>
						</div>
						<div id="topUpFromWallet" class="topUpOptions" style="display:none">
							<header class="w3-container w3-padding w3-text-white input-text-medium" style="background:white;color:black!important;padding-top: 20px!important;"> 
								<span onclick="document.getElementById('extendedGoalUI').style.display='none'" style="background:transparent" class="w3-button w3-display-topright input-text-large">&times; </span>
								<span class="w3-margin w3-padding">Top Up {{sgdata.ItemName}} From Wallet</span>
							</header>
		
							<div id='' class="" >
								<section id="topUpGoalDivApp" class="w3-white" style="font-weight: 0px;">
									<div class=" col-lg-12 w3-margin-left w3-padding">
										<div class="">
										<form action="javascript:void(0)"onsubmit="event.preventDefault();" id="step1" method="post" class="w3-animate-right stages">
											<div class="w3-margin">
												<span class="fa w3-xxlarge" style="position:absolute;margin-left: 3px;">&#8358;</span>                            
												<input class="w3-input w3-text-white w3-padding customized-input font-medium" type="number" placeholder="Enter Amount to Top Up Goal"  id="walletAmount" required="" style="padding-left:50px!important; width:86%;color:black!important">      
											</div>
											
											<div class="" style="margin-top:8px!important;text-align: center"> 
												<button type="button" class="w3-button"  onclick="document.getElementById('extendedGoalUI').style.display='none'" style="display: inline-block!important;width:48%;background: #323943; color:#fff!important">Cancel</button>
												<button type="button" class="w3-button pdy-green" onclick="Top_Up_Goal(null,'wallet')" style=" display: inline-block!important;width:48%">Top Up</button>
											</div>
										</form>
							
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
					
				
				</div>
				<div id="redeemGoal" style="display:none" class="extendGoalDivs">
					<div class=" center w3-padding" style="background:#29313C"> 
						<span class="w3-margin w3-padding w3-text-white" style="padding-top:20px!important">Redeem Goal</span>
					</div> 
					<div id="redeemGoalDiv">
						<section id="topUpGoalDivApp" class="w3-white" style="font-weight: 0px;">
							<div class=" col-lg-12 w3-margin-left w3-padding">
								<div class="">
									<form action="javascript:void(0)"onsubmit="event.preventDefault();" id="step1" method="post" class="w3-animate-right stages">
										<div class="w3-margin">
											<span class="fa w3-xxlarge" style="position:absolute;margin-left: 3px;">&#8358;</span>                            
											<input class="w3-input w3-text-white w3-padding customized-input font-medium" type="number" placeholder="Enter Amount to Redeem"  id="RedeemAmount" required="" style="padding-left:50px!important; width:86%;color:black!important">      
										</div>
										<div class="w3-margin">
											<span class="fa fa-question-circle w3-xxlarge" style="position:absolute;margin-left: 3px;"></span>                            
											<textarea class="w3-input w3-text-white w3-padding customized-input font-medium" placeholder="Reason For Redemption"  id="RedeemReason" required="" style="padding-left:50px!important; width:86%;color:black!important"></textarea>      
										</div>
										<div class="" style="margin-top:8px!important;text-align: center"> 
											<button type="button" class="w3-button"  onclick="document.getElementById('extendedGoalUI').style.display='none'" style="display: inline-block!important;width:48%;background: #323943; color:#fff!important">Cancel</button>
											<button type="button" class="w3-button pdy-green" onclick="redeemGoal(null)" style=" display: inline-block!important;width:48%">Redeem Goal</button>
										</div>
									</form>
						
								</div>
							</div>
						</section>
					</div>
					
				
				</div>
				<div id="partWithdrawalGoal" style="display:none" class="extendGoalDivs">
					<div class=" center w3-padding" style="background:#29313C"> 
						<span class="w3-margin w3-padding w3-text-white" style="padding-top:20px!important">Part Withdrawal</span>
					</div> 
					<div id="partWithdrawalDiv">
						<section id="partWithdrawalDivApp" class="w3-white" style="font-weight: 0px;">
							<div class=" col-lg-12 w3-margin-left w3-padding">
								<div class="">
									<form action="javascript:void(0)"onsubmit="event.preventDefault();" id="step1" method="post" class="w3-animate-right stages">
										<div class="w3-margin">
											<span class="fa w3-xxlarge" style="position:absolute;margin-left: 3px;">&#8358;</span>                            
											<input class="w3-input w3-text-white w3-padding customized-input font-medium" type="number" placeholder="Enter Amount to Withdraw"  id="partAmount" required="" style="padding-left:50px!important; width:86%;color:black!important">      
										</div>
										
										<div class="" style="margin-top:8px!important;text-align: center"> 
											<button type="button" class="w3-button"  onclick="document.getElementById('extendedGoalUI').style.display='none'" style="display: inline-block!important;width:48%;background: #323943; color:#fff!important">Cancel</button>
											<button type="button" class="w3-button pdy-green" onclick="partWithdrawal(null)" style=" display: inline-block!important;width:48%">Withdraw</button>
										</div>
									</form>
						
								</div>
							</div>
						</section>
					</div>
				</div>
				<div id="moveExcess" style="display:none" class="extendGoalDivs">
					<div class=" center w3-padding" style="background:#29313C"> 
						<span class="w3-margin w3-padding w3-text-white" style="padding-top:20px!important">Move Excess Fund to Wallet</span>
					</div> 
					<div id="moveExcessDiv">
						<section id="moveExcessDivApp" class="w3-white" style="font-weight: 0px;">
							<div class=" col-lg-12 w3-margin-left w3-padding">
								<div class="">
									<form action="javascript:void(0)"onsubmit="event.preventDefault();" id="step1" method="post" class="w3-animate-right stages">
										<div class="w3-margin">
											<span class="fa w3-xxlarge" style="position:absolute;margin-left: 3px;">&#8358;</span>                            
											<input class="w3-input w3-text-white w3-padding customized-input font-medium" type="number" placeholder="Enter Excess Amount to Move"  id="excessAmount" required="" style="padding-left:50px!important; width:86%;color:black!important">      
										</div>
										
										<div class="" style="margin-top:8px!important;text-align: center"> 
											<button type="button" class="w3-button"  onclick="document.getElementById('extendedGoalUI').style.display='none'" style="display: inline-block!important;width:48%;background: #323943; color:#fff!important">Cancel</button>
											<button type="button" class="w3-button pdy-green" onclick="moveExcess(null)" style=" display: inline-block!important;width:48%">Move Excess</button>
										</div>
									</form>
						
								</div>
							</div>
						</section>
					</div>
				</div>
				<div id="transferToWallet" style="display:none" class="extendGoalDivs">
					<div class=" center w3-padding" style="background:#29313C"> 
						<span class="w3-margin w3-padding w3-text-white" style="padding-top:20px!important">Transfer to Wallet</span>
					</div> 
					<div id="transferToWalletDiv">
						<section id="topUpGoalDivApp" class="w3-white" style="font-weight: 0px;">
							<div class=" col-lg-12 w3-margin-left w3-padding">
								<div class="">
								<form action="javascript:void(0)"onsubmit="event.preventDefault();" id="step1" method="post" class="w3-animate-right stages">
									<div class="w3-margin">
										<span class="fa w3-xxlarge" style="position:absolute;margin-left: 3px;">&#8358;</span>                            
										<input class="w3-input w3-text-white w3-padding customized-input font-medium" type="number" placeholder="Enter Amount to Transfer"  id="walletTransferAmount" required="" style="padding-left:50px!important; width:86%;color:black!important">      
									</div>
									
									<div class="" style="margin-top:8px!important;text-align: center"> 
										<button type="button" class="w3-button"  onclick="document.getElementById('extendedGoalUI').style.display='none'" style="display: inline-block!important;width:48%;background: #323943; color:#fff!important">Cancel</button>
										<button type="button" class="w3-button pdy-green" onclick="transferToWallet(null)" style=" display: inline-block!important;width:48%">Transfer</button>
									</div>
								</form>
					
								</div>
							</div>
						</section>
					</div>

				
				</div>
			</div>
		</div>
	<div id='createGoal' class="goalTabs" >
	    <section id="createGoalDivApp" class="w3-white" style="font-weight: 0px;">
	    <div class=" col-lg-12 w3-margin-left w3-padding">
	        <div class="">
	            <form action="javascript:void(0)"onsubmit="event.preventDefault();" id="step1" method="post" class="w3-animate-right stages">
	            <div class=" m12 l12 m12">
	              <div class="display-block center">
	                  <h5>Create  Goal</h5>
	              </div>
	              <div class="">
	                <label class="input-text-goal w3-left">Goal Title</label>
	                <input type="text" class="form-control w3-input" style="height: 3.2rem; padding-left:10px " placeholder="Enter Goal Name" v-model="cgvm.ItemName" required="" value="">
	              </div>
	            </div>
	                <div class="col-sm-11 ">
	                    <label class="input-text-goal w3-left display-block"><br/>Goal Description:</label>
	                  <textarea style="padding-left:10px " class="form-control w3-input w3-textarea col-lg-12" v-model="cgvm.ItemDescription" rows="6"></textarea>
	              </div>
	                <div class="form-group inline col-lg-1 left margin">
	                </div>
	                <br/>
	             <div class="form-group inline col-lg-5 left margin">
	              <label class="input-text-goal w3-left">Total Amount of Goal:</label>
	              <input type="text" class="form-control w3-input custom-amount number" style="height: 3.2rem; padding-left:10px;width:100%" placeholder="Enter Goal Amount" v-model="cgvm.GoalAmount" required="" id="custom-amount" value="">
	            </div>
	             <div class="form-group inline col-lg-5 left margin">
	              <label class="input-text-goal w3-left">You will invest the sum of:</label>
	              <input type="text" style="height: 3.2rem; padding-left:10px " required="" v-model="cgvm.MonthlyDeduction" class="form-control w3-input custom-deduction number" id="custom-deduction" value="">
	            </div>
	                 <div class="form-group inline col-lg-1 left margin">
	                </div>
	             <div class="form-group inline col-lg-5 left margin">
	              <label class="input-text-goal w3-left">Number of Deductions:</label>
	              <input type="text" class="form-control w3-input custom-duration" style="height: 3.2rem; padding-left:10px " tabindex="-1" readonly="readonly" required="" v-model="cgvm.Duration" id="custom-duration" value="">
	            </div>
	            <div class="form-group inline col-lg-5 left margin">
	              <label class="input-text-goal w3-left">Frequency:</label>
	              <select v-model="cgvm.Frequency" required="" data-placement="bottom" id="frequency" class="form-control w3-input frequency" onchange="freqChange()">
	                  <option value="">Debit Frequency</option>
	                  
	                  <option value="Weekly">Weekly</option>
	                  <option value="Monthly">Monthly</option>
	              </select>
	            </div>
	            <div class="form-group inline col-lg-1 left margin">
	                </div>
	             <div class="form-group inline col-lg-5 left margin " style="">
	              &nbsp;
	              <label class="input-text-goal w3-left">Day To Be Debited:</label>
	              <div class="col-xs-12 text-field" id="monthDays" v-if="cgvm.Frequency == 'Monthly'">
	              <select v-model="cgvm.monthDays" class="form-control w3-input" data-toggle="tooltip" data-placement="bottom" data-original-title="" title="">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
						<option value="31">31</option>
					</select>
				</div>

	              <div class="col-xs-12 text-field" id="weekDays" v-if="cgvm.Frequency == 'Weekly'">
	                  <select class="form-control w3-input" v-model="cgvm.weekDays" data-toggle="tooltip" data-placement="bottom" data-original-title="" title=""  v-if="cgvm.Frequency == 'Weekly'">
	                      <option value="Sunday">Sunday</option>
	                      <option value="Monday">Monday</option>
	                      <option value="Tuesday">Tuesday</option>
	                      <option value="Wednesday">Wednesday</option>
	                      <option value="Thursday">Thursday</option>
	                      <option value="Friday">Friday</option>
	                      <option value="Saturday">Saturday</option>
	                  </select>
				  </div>
				  
				  
				</div>
	             

						<div class="clearfix"></div>
						<hr>
						
						<label class="input-text-goal w3-left">Select A Card:</label>
						<div class="card-holder">
							<select v-if="cgvm.userCards[0].CardNo" class="form-control w3-input" onchange="onChangeCard()"  id="cards" required='' data-toggle="tooltip" data-placement="bottom" data-original-title="" title="">
								<option></option>
								<option v-for="n in cgvm.userCards" :fwCode='n.FWCode' :id="n.Id">{{ n.CardNo }}</option>
							</select>
							<button v-if="!cgvm.userCards[0].CardNo" class="w3-button w3-green w3=margin w3-padding" onclick="renda.component('card','view','dashboardDisplayDiv');">Add Card</button>
							<br>
						</div>
					</div>
					<label class="input-text-goal w3-left">Select Goal Image:</label>
					<div class="form-group form-field-holder">
						<div class="form-icon-holder col-xs-2" id="username-icon-holder">
							<i class="fa fa-circle" aria-hidden="true"></i>
						</div>
						<div class="col-xs-10 text-field" id="username-field">
							<input type="file" class='w3-input' placeholder="Goal Image" value="" id="GoalUploadCreate" required="" data-toggle="tooltip" data-placement="bottom" accept="image/*">
						</div>
					</div>
					<div class="col-lg-11 form-group">
						<br><br>
						<button type="submit" class="w3-bar w3-button w3-border-0 w3-text-white w3-large w3-right header-color" onclick="createGoal(null)">Create Goal</button>
					</div>
	            </form>

	        </div>
	    </div>
	    </section>
	</div>
	
	<button onclick="goalTab('createGoal')" class="w3-button w3-circle w3-text-white floating-btn w3-buttom" style="background:#d8e2f1;padding-left: 10px;padding-right: 10px;padding-bottom: 5px!important; padding-top: 5px!important;">
		<small><span class="" style="    font-size: 3em!important; padding-top: 4px"><img src="img/LineIcons/Secondary(Icons)/create_goal.png" class="navIcon"/></span></small>
	</button>
</div>


<script src="secured/controller/myDashboard.js"></script>
<script type="text/javascript" src="secured/controller/goal.js"></script>
<script type="text/javascript" src="assets/js/jquery.validate.js"></script>
<script type="text/javascript" src="assets/js/jquery-ui.js"></script>  
<script type="text/javascript" src="assets/js/pwstrength.js"></script> 
<script type="text/javascript" src="assets/js/index.js"></script> 

