<div id='myDashboard'>
	<div class="w3-container">
		<button class="w3-button w3-bottombar" style="display: inline-block; color:#354357">Back to Goals</button>
	</div>
	<div id='viewGoals' class="">	
		
		<div id="goalsDiv" style="margin-left:6%">
		  <div v-for="item in commonData.Dashboard.goals" class="single-goal " :id="item.GoalId" style="" >
		  	<div style="background: #2B333E; height:150px; max-height: 150px; overflow: hidden;    margin: 4px!important;" class="w3-text-white w3-card-4 w3-round w3-padding w3-hover-opacity w3-hover-shadow" >
			  	<div class="display-block input-text-medium " style="">
			  		&#8358;{{ item.GoalAmount }}
			  	</div>
			  	<div class="" style="margin-top: 10px">
			  		<div class="input-text-goal">{{ item.ItemName }}</div><center>
			  		<div class="input-text-fixed" style="margin-bottom: 3px">{{ item.ItemDescription }}</div></center>
			  	</div>
			</div>
		  </div>
		  <div class="single-goal" style="" id="createGoalDiv"   onclick="renda.component('goals','create','dashboardDisplayDiv');">
		  	<div style="background: #7D388B; height:150px; max-height: 150px; overflow: hidden;" class=" w3-card-4 w3-round w3-padding w3-text-white" >
			  	<center>
			  		<div class="display-block " style=""></div>
			  		<div class=" " style="margin-top: 20px;">
			  			<span class='display-block input-text-medium'>New Goal</span>
			  			<span class="fa fa-plus icon-mod" style="margin-top: 15px;">
			  			</span>
			  		</div>
			  		
			  	</center>
			  		
			</div>
		  </div>
		</div>
		<button onclick="renda.component('goals','create','dashboardDisplayDiv');" class="w3-button w3-circle w3-text-white floating-btn w3-buttom" style="background:#354357">
			<small><span class="fa fa-plus" style="    font-size: 5em !important; padding-top: 4px"></span></small>
		</button>
	</div>
	<div id='viewSingleGoal' class="">	
		
		<div id="goalsDiv" style="margin-left:6%">
		  <div v-for="item in commonData.Dashboard.goals" class="single-goal " :id="item.GoalId" style="" >
		  	<div style="background: #2B333E; height:150px; max-height: 150px; overflow: hidden;    margin: 4px!important;" class="w3-text-white w3-card-4 w3-round w3-padding w3-hover-opacity w3-hover-shadow" >
			  	<div class="display-block input-text-medium " style="">
			  		&#8358;{{ item.GoalAmount }}
			  	</div>
			  	<div class="" style="margin-top: 10px">
			  		<div class="input-text-goal">{{ item.ItemName }}</div><center>
			  		<div class="input-text-fixed" style="margin-bottom: 3px">{{ item.ItemDescription }}</div></center>
			  	</div>
			</div>
		  </div>
		  <div class="single-goal" style="" id="createGoalDiv"   onclick="renda.component('goals','create','dashboardDisplayDiv');">
		  	<div style="background: #7D388B; height:150px; max-height: 150px; overflow: hidden;" class=" w3-card-4 w3-round w3-padding w3-text-white" >
			  	<center>
			  		<div class="display-block " style=""></div>
			  		<div class=" " style="margin-top: 20px;">
			  			<span class='display-block input-text-medium'>New Goal</span>
			  			<span class="fa fa-plus icon-mod" style="margin-top: 15px;">
			  			</span>
			  		</div>
			  		
			  	</center>
			  		
			</div>
		  </div>
		</div>
	</div>
	
</div>


<script src="secured/controller/myDashboard.js"></script>
