<style>
    .accountIcon{
        size: 3vw!important;
        width: 8.0vw;

        /* filter: brightness(4); */
    }
</style>
<div id="profilePage">
    <div class="w3-container center w3-padding">
        <button class="w3-button w3-bottombar " style="display: inline-block; color:#354357; width:30%; margin-right:2px" onclick="profileTab('viewProfile')"><span class="fa fa-user-o input-text-large"></span></button>
        <button class="w3-button w3-bottombar " style="display: inline-block; color:#354357; width:30%"  onclick="profileTab('editProfile')"><span class="fa fa-pencil-square-o input-text-large"></span></button>
        <button class="w3-button w3-bottombar " style="display: inline-block; color:#354357; width:30%"  onclick="profileTab('changePassword')"><i class=""><img src="img/LineIcons/Secondary(Icons)/change_password.png" class="accountIcon"></i></button>
    </div> 
    <div id="viewProfile" class="profileTab w3-container" style="display:none">
        <div id="viewProfileDiv" style="margin-left:6%" class="w3-animate-left w3-white">
            <center><div class="input-text-medium w3-padding">My Profile</div>
            <div class="input-text-goal w3-padding"><b>Account Status: </b>{{userExtras.ProgressStatus}}</div></center>
            <ul  class="w3-padding w3-white " onclick="">
             
                <li style="" class="w3-padding input-text-goal" v-for="(item,key) in userDetails">
                    <span><b>{{key}}: </b></span>
                    <span>{{item}}</span> 
                </li>  
         
            </ul>
            
        </div> 
    </div>
    <div id='editProfile' class="profileTab"  style="display: none">	
        <div id="editProfileDiv" class="">
            <div class="w3-animate-right "  style="">
                <center><div class="input-text-medium w3-padding">Edit Profile</div>
                <div>
                    <img v-bind:src="userExtras.ProfilePic"  class="w3-circle" style="width:150px; height:140px"/>
                    <div>
                        <p class="input-text-goal center">Select a new profile image</p>
                        <input type="file" id="ProfileUpload" value= "" class="w3-input input-text-goal padding-left-2 upload-button" data-toggle="tooltip" accept="image/*" required="" aria-required="true" style="width: 50%;" onchange ="prepareProfileUpload()">
                    </div>  
                </div>
            
            </div>
        </div>
    </div>
    <div id='changePassword' class="profileTab w3-animate-left" style="display:none">
        <section id="changePasswordDiv" class="w3-white" style="font-weight: 0px;">
        <div class=" col-lg-12 w3-margin-left w3-padding input-text-medium">
            Change Password
        </div>
        <div class="input-text-goal">

        </div>
        </section>
    </div>
    
</div>
    

    <script type="text/javascript" src="secured/controller/user_extras.js"></script>
    <script type="text/javascript" src="assets/js/index.js"></script> 
    <script>initUserProfilePage()</script>