<style>
    .accountIcon{
        size: 3vw!important;
        width: 8.0vw;

        /* filter: brightness(4); */
    }
</style>
<div id="contactPage">
    <div id="contactPageDiv" class="profileTab w3-container" style="display:block">
        <div id="viewProfileDiv" style="margin-left:6%" class="w3-animate-left w3-white  w3-margin-top">
            <center><div class="input-text-large w3-padding w3-text-green">Contact Us</div>
            <div class="w3-padding"> 
                <input type="text" class="w3-input" placeholder="Full Name" id="FullName" disabled>
                <input type="number" class="w3-input" placeholder="Phone Number" id="PhoneNumber" disabled>
                <input type="email" class="w3-input" placeholder="Email" id="Email" disabled>
                <select class="w3-input w3-margin-top" name="subject" required="" id="ContactOption">
                    <option value="">--Select an Option--</option>
                    <option value="Enquiries">Enquiries</option>
                    <option value="Complaints / Issues">Complaints / Issues</option>
                    <option value="Suggestions">Suggestions</option>
                    <option value="Others">Others</option>
                </select>
                <textarea class="w3-input w3-textarea w3-margin-top" placeholder="Message" id="Message"></textarea>
                <button type="text" class="w3-input w3-margin-top w3-text-white w3-padding" onclick="submitContactForm()" placeholder="Email" id="Email" style='background:#29313C'>Submit</button>                
            </div>
        </div> 
    </div>
    
</div>
<script type="text/javascript" src="assets/js/index.js"></script>
<script type="text/javascript" src="secured/controller/user_extras.js"></script>

<script>
initContactForm()
</script>