<script src="assets/js/eae677a2bc.js"></script>
<link rel="stylesheet" href="assets/css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="assets/css/style.css" type="text/css">
<link rel="stylesheet" href="assets/css/dashboard_styles.css" type="text/css">
<link rel="stylesheet" href="assets/css/vms_styles.css" type="text/css">
<link href="assets/css/sweetalert.min.css" rel="stylesheet">
<link href="assets/css/jquery-ui.css" rel="stylesheet">
<div id="faqPage">
    <div id="faqPageDiv" class="profileTab w3-container" style="display:block">
        <div id="viewProfileDiv" style="" class="w3-animate-left w3-white">
            <center><div class="input-text-large w3-padding">FAQ's</div>
            <div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding" id="notifications-main-container">
                    <div class="faq_page">
                        <section id="faqs" class="faqs">
                            <h3>What is PayDay Investor?</h3>
                            <div style="display: none; height: auto;"> 
                                                <p>Payday Investor is the savings and investment app you need to help you meet your investment/savings goals. It is a channel that enables easy, targeted and personalised investment into the ARM Money Market Fund.
                                                </p>
                                                <p>It not only helps you put money aside consistently, it invests the money on your behalf so that you are able to achieve your goal faster.
                                                </p>
            
                            </div>
                                        
                                            <h3>How does PayDay Investor work?</h3>
                            <div style="display: none; height: auto;">
                                                <p>PayDay Investor allows you to select a savings goal and specify the time you would like to achieve that goal. It is designed to automatically connect to your Nigerian debit card accounts, thus making it easy for you to periodically set funds aside towards the goal. </p>
                                                <p> PayDay Investor invests your funds in the ARM Money Market Fund, a mutual fund which guarantees quarterly returns than your traditional savings account. Leaving you more money to achieve your goal in good time. 
                                                </p>
                                            <p>All funds paid to your PayDay Investor Account are managed by ARM Investment Managers Limited, an asset management firm with over 23years of investment management experience and regulated by the Securities and Exchange Commission (SEC), you are therefore guaranteed safety of your investments.
                                            </p>
                                            <p>How do I access the PayDay Investor Channel?</p>
                                            <p>You can download the PayDay Investor mobile app for free from your Android or iOS store. PayDay Investor is also accessible Online via www.paydayinvestor.ng.</p>
                                            <p>To start using PayDay Investor, simply Register, Create a goal, Set up direct debits (optional) and Watch your investments grow.</p>
            
                            </div>
                            
                                            
                                            <h3>How do I access the PayDay Investor Channel?</h3>
                            <div style="display: none; height: auto;">
                                                <p>You can download the free PayDay Investor mobile app from your Android or iOS store. PayDay Investor is also accessible <b>Online via desktop</b>.</p>
                                                <p>To start using PayDay Investor, simply <b>Register, Add Card, Create a goal, Set up direct debits and Watch</b> your investments grow.   </p>
            
                            </div>
                                            
                                            <h3>Is PayDay Investor safe?</h3>
                            <div style="display: none; height: auto;">
                                                <p>Yes, PayDay Investor adheres to standard industry online transaction security measures. </p>
            
                            </div>
                                            
                                            <h3>Is there a limit to the amount I can invest?</h3>
                            <div style="display: none; height: auto;">
                                                <p>No, there is no maximum limit to the money you can invest. Your savings depends on the size and number of goals you set. The ARM Money Market fund in which PayDay Investor invests allows you begin your investment with as little as N1,000 and make additional deposits of any amount you desire with a minimum limit of just N500.</p>
                            </div>
                                            
                                            
                                            <h3>How is PayDay Investor different from other Investing apps?</h3>
                            <div style="display: none; height: auto;">
                                                <p>While other savings apps may help you save on the regular basis. PayDay Investor does much more. It not only compels you to consistently put money aside, invests your money on your behalf. Your money is managed by experienced investment managers such that you have more money than you put in.</p>
            
                                            </div>
                                            
                                            
                                            <h3>What happens to the interest earned on my saving?</h3>
                            <div style="display: none; height: auto;">
                                                <p>Interest returns are added to your PayDay Investor account every quarter. You can view - your accumulated earnings over the quarter on your PayDay Investor dashboard. At the end of the quarter, your account is credited with the interest. PayDay Investor allows you to watch your money grow daily. You can view interest earned.</p>
                                            </div>
                                            
                                            <h3>Can I use PayDay Investor App on multiple devices?</h3>
                            <div style="display: none; height: auto;"> 
                                                <p>Yes, you can. The app can be installed and managed on multiple devices. Your login details are confidential. Do NOT disclose your password to anyone.</p>
                                            </div>
                                            
                                            <h3>What happens if my debit card account is not funded?</h3>
                            <div style="display: none; height: auto;"> 
                                                <p>The scheduled debit from your account into your PayDay Investor account will not occur. We can only manage your money if your registered card account is funded. To ensure the automated debit feature works, your account must be funded on the scheduled day for payment. However, you can make unscheduled contribution payments to a PayDay Investor goal and the remaining payment period to achieve that goal will be automatically updated.</p>
                                            </div>
                                            
                                            
                                            <h3>Can I make unscheduled contributions to my goal?</h3>
                            <div style="display: none; height: auto;"> 
                                                <p>You can make additional unscheduled payments by selecting the goal and clicking the Top Up button.</p>
                                            
                                            </div>
                                            
                                            <!-- <h3>I forgot my password. What do I do?</h3>
                            <div style="display: none; height: auto;"> 
                                                <p>To set a new password, select the “Forgot password” button at the bottom of the login page and follow the instructions. If you still have trouble, you can contact us on <a herf="mailto:hello@PayDayinvestor.ng">hello@PayDayinvestor.ng</a> </p> 
                                            </div>
                                            
                                            <h3>I want to change my password. What do I do?</h3>
                            <div style="display: none; height: auto;"> 
                                                <p>Simply log into PayDay Investor, select the “Reset Password” button in the Settings tab and follow the instructions. If you’re still having trouble, you can contact us on <a herf="mailto:hello@PayDayinvestor.ng">hello@PayDayinvestor.ng</a>    </p>
                                                
                                            </div>
                                            
                                            <h3>Can I use multiple debit cards? </h3>
                            <div style="display: none; height: auto;"> 
                                                <p>Yes. Simply log in to the PayDay Investor platform, go to settings, select Add card, and follow the instructions.</p>
            
                                            </div>
                                            
                                            <h3>Can I change the frequency of my automated debit? </h3>
                            <div style="display: none; height: auto;"> 
                                                <p>Yes, you can. To modify your payment contribution, select the goal, click the modify button and change the amount or frequency and your payment details are automatically updated!</p>
            
                                            </div>
                                            
                                            <h3>Can I suspend my goal and resume later?</h3>
                            <div style="display: none; height: auto;"> 
                                                <p>Yes, you can. To suspend a goal, log into PayDay Investor, select goal and click the “Suspend” button. The button automatically changes to “Resume”, which you can click to continue saving towards the goal whenever you so desire.</p>
            
                                            </div>
                                            
                                            <h3>Can I make changes to my Goal?</h3>
                            <div style="display: none; height: auto;"> 
                                                <p>Yes, you can. After logging into the PayDay Investor platform, select the goal, click the modify button and follow the instructions. </p>
            
                                            </div>
                                            
                                            
                                            <h3>Can I withdraw funds from multiple goals at a time?</h3>
                            <div style="display: none; height: auto;"> 
                                                <p>Yes. To withdraw funds from multiple goals, follow these simple steps:</p>
                                                <ul>
                                                    <li>Log into PayDay Investor</li>
                                                    <li>Select each goal</li>
                                                    <li>Select Transfer to Wallet and provide transfer details</li>
                                                    <li>View Wallet and follow the instructions to withdraw funds</li>
                                                </ul>
                                                <p>Payment will be made to the account provided when you registered on PayDay Investor</p>
                                            </div>
                                            
                                            <h1>OTHERS</h1>
                                            
                                                <h3>What if I need immediate help or have a different question?</h3>
                            <div style="display: none; height: auto;"> 
                                                <p>Contact the PayDay investor team via email - <a herf="mailto:help@PayDayinvestor.ng">help@PayDayinvestor.ng</a> Alternatively, you can complete the Contact Us form on the platform. To access the form, go to the Help Tab on your home screen and press ‘Contact us’. We are available to attend to your needs. </p>
            
                                            </div> -->
                                            
                            <section class="mhelp">
                                <p>Do you still have unanswered questions? </p>
                                <p>Contact the PayDay investor team via email - hello@paydayinvestor.ng </p>
                                <p>or call us on 0700 CALL ARM (0700 2255 276). We are always available to attend to your needs.</p>
                               <button class="w3-button w3-text-white" style="background:#4e335c" onclick="renda.component('userExtras','contact','dashboardDisplayDiv');">Click Here for Inquires / Complaints</button>
                            </section>
                        </section>
                    </div>
            
                </div>
                
                <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
                <script type="text/javascript" src="assets/js/jquery.validate.js"></script>
                <script type="text/javascript" src="assets/js/jquery-ui.js"></script>
                <script type="text/javascript" src="assets/js/index.js"></script>

            </div>

            
        </div> 
    </div>
    
</div>
<script>stopLoad()</script>