<script src="assets/js/eae677a2bc.js"></script>
<link rel="stylesheet" href="assets/css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="assets/css/style.css" type="text/css">
<link rel="stylesheet" href="assets/css/dashboard_styles.css" type="text/css">
<link rel="stylesheet" href="assets/css/vms_styles.css" type="text/css">
<link href="assets/css/sweetalert.min.css" rel="stylesheet">
<link href="assets/css/jquery-ui.css" rel="stylesheet">
<div id="faqPage">
    <div id="faqPageDiv" class="profileTab w3-container" style="display:block">
        <div id="viewProfileDiv" style="margin-left:6%" class="w3-animate-left w3-white">
            <center><div class="input-text-large w3-padding">FAQ's</div>
            <div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding" id="notifications-main-container">
                    <div class="faq_page">
                        <section id="faqs" class="faqs">
                            <h1>ABOUT PAYDAY INVESTOR</h1>
                            <h3>What is PayDay Investor?</h3>
                            <div style="display: none; height: auto;">
                                                <p>Payday Investor is the web and mobile accountability partner you need to help you meet your investment goals. It is a channel that enables easy, targeted and personalised investment into the ARM Money Market Fund via a Web and Mobile Application. </p>
                                                <p>Trying to invest towards a project, a new apartment, dream wedding or honeymoon, the arrival of a baby, capital intensive purchase, that vacation, or any other goal? Payday Investor is the digital investment platform you need to meet the goal in your desired timeline. </p>
            
                            </div>
                                        
                                            <h3>How does Payday Investor work?</h3>
                            <div style="display: none; height: auto;">
                                                <p>Payday Investor allows you to create an investment goal and stipulate the time you would like to achieve that goal. It is designed to automatically connect to your Nigerian debit card accounts, thus making it easy for you to periodically set funds aside towards the goal. </p>
                                                <p> Payday Investor does not merely help you put money aside, it invests your funds in the ARM Money Market Fund which guarantees quarterly returns at a competitive interest rate. That way, you have more money to achieve your goal in good time.</p>
                                            <p>All funds paid to your PayDay Investor Account are managed by ARM Investment Managers Limited, you are therefore guaranteed safety and more competitive returns on your investments compared to your traditional savings account. </p>
            
                            </div>
                            
                                            
                                            <h3>How do I access the Payday Investor Channel?</h3>
                            <div style="display: none; height: auto;">
                                                <p>You can download the free Payday Investor mobile app from your Android or iOS store. Payday Investor is also accessible <b>Online via desktop</b>.</p>
                                                <p>To start using PayDay Investor, simply <b>Register, Add Card, Create a goal, Set up direct debits and Watch</b> your investments grow.   </p>
            
                            </div>
                                            
                                            <h3>Is PayDay Investor safe?</h3>
                            <div style="display: none; height: auto;">
                                                <p>Yes, Payday Investor adheres to standard industry online transaction security measures. </p>
            
                            </div>
                                            
                                            <h3>Is there a limit to the amount I can invest?</h3>
                            <div style="display: none; height: auto;">
                                                <p>No, there is no maximum limit to the money you can invest. Your investment depends on the size and number of goals you set. The Money Market fund in which Payday investor primarily invests allows you to begin your investment with as little as N5,000 and make additional deposits of any amount you desire with a minimum limit of just N1,000.</p>
                            </div>
                                            
                                            
                                            <h3>How is Payday Investor different from other Investing apps?</h3>
                            <div style="display: none; height: auto;">
                                                <p>Apart from the benefit of having your money managed by experienced financial managers and invested profitably for you, Payday Investor also provides an array of products/services from duly registered vendors. As a user, you can set a goal to purchase any of the items and upon completion of your target investments, with your consent, PayDay Investor will automatically place your order and monitor product/service delivery. This service is coming soon!</p>
            
                                            </div>
                                            
                                            
                                            <h3>What happens to the interest earned on my saving?</h3>
                            <div style="display: none; height: auto;">
                                                <p>Interest returns is added to your PayDay account every quarter. You can view the accrued earnings over the quarter on your PayDay Investor platform dashboard. At the end of the quarter, your account is credited with the interest and accrued earnings starts counting for the next quarter.</p>
                                            </div>
                                            
                                            
                                            <h3>Can I use PayDay Investor App on multiple devices?</h3>
                            <div style="display: none; height: auto;"> 
                                                <p>Yes, you can. The app can be installed and managed on multiple devices. Your login details are confidential. Do <b>NOT</b> disclose your password to anyone.</p>
                                            </div>
            
                                            
                                            <h3>Can I use PayDay Investor App on multiple devices?</h3>
                            <div style="display: none; height: auto;"> 
                                                <p>Yes, you can. The app can be installed and managed on multiple devices. Your login details are confidential. Do <b>NOT</b> disclose your password to anyone.</p>
                                            </div>
                                            
                                            
                                            <h1>PAYDAY INVESTOR FEATURES</h1>
                                            
                                            <h3>What happens if my debit card account is not funded?</h3>
                            <div style="display: none; height: auto;"> 
                                                <p>The scheduled debit from your card account into your PayDay account will not occur. We can only manage your goals if your registered card account is funded. To ensure the automated debit feature works, your account must be funded on the scheduled day for payment. However, you can make random contribution payments to a PayDay goal by clicking the <b>Top Up</b> button and the remaining payment period to achieve that goal will be automatically updated.</p>
                                            </div>
                                            
                                            
                                            <h3>How can I make random contributions to my goal?</h3>
                            <div style="display: none; height: auto;"> 
                                                <p>You can make additional random payments by selecting the goal and clicking the <b>Top Up</b> button.</p>
                                            
                                            </div>
                                            
                                            <h3>I forgot my password. What do I do?</h3>
                            <div style="display: none; height: auto;"> 
                                                <p>To set a new password, select the “Forgot password” button at the bottom of the login page and follow the instructions. If you still have trouble, you can contact us on <a herf="mailto:hello@paydayinvestor.ng">hello@paydayinvestor.ng</a> </p> 
                                            </div>
                                            
                                            <h3>I want to change my password. What do I do?</h3>
                            <div style="display: none; height: auto;"> 
                                                <p>Simply log into PayDay Investor, select the “Reset Password” button in the Settings tab and follow the instructions. If you’re still having trouble, you can contact us on <a herf="mailto:hello@paydayinvestor.ng">hello@paydayinvestor.ng</a>    </p>
                                                
                                            </div>
                                            
                                            <h3>Can I use multiple debit cards? </h3>
                            <div style="display: none; height: auto;"> 
                                                <p>Yes. Simply log in to the PayDay Investor platform, go to settings, select Add card, and follow the instructions.</p>
            
                                            </div>
                                            
                                            <h3>Can I change the frequency of my automated debit? </h3>
                            <div style="display: none; height: auto;"> 
                                                <p>Yes, you can. To modify your payment contribution, select the goal, click the modify button and change the amount or frequency and your payment details are automatically updated!</p>
            
                                            </div>
                                            
                                            <h3>Can I suspend my goal and resume later?</h3>
                            <div style="display: none; height: auto;"> 
                                                <p>Yes, you can. To suspend a goal, log into PayDay Investor, select goal and click the “Suspend” button. The button automatically changes to “Resume”, which you can click to continue saving towards the goal whenever you so desire.</p>
            
                                            </div>
                                            
                                            <h3>Can I make changes to my Goal?</h3>
                            <div style="display: none; height: auto;"> 
                                                <p>Yes, you can. After logging into the PayDay Investor platform, select the goal, click the modify button and follow the instructions. </p>
            
                                            </div>
                                            
                                            
                                            <h3>Can I withdraw funds from multiple goals at a time?</h3>
                            <div style="display: none; height: auto;"> 
                                                <p>Yes. To withdraw funds from multiple goals, follow these simple steps:</p>
                                                <ul>
                                                    <li>Log into PayDay Investor</li>
                                                    <li>Select each goal</li>
                                                    <li>Select Transfer to Wallet and provide transfer details</li>
                                                    <li>View Wallet and follow the instructions to withdraw funds</li>
                                                </ul>
                                                <p>Payment will be made to the account provided when you registered on PayDay Investor</p>
                                            </div>
                                            
                                            <h1>OTHERS</h1>
                                            
                                                <h3>What if I need immediate help or have a different question?</h3>
                            <div style="display: none; height: auto;"> 
                                                <p>Contact the PayDay investor team via email - <a herf="mailto:help@paydayinvestor.ng">help@paydayinvestor.ng</a> Alternatively, you can complete the Contact Us form on the platform. To access the form, go to the Help Tab on your home screen and press ‘Contact us’. We are available to attend to your needs. </p>
            
                                            </div>
                                            
                            <section class="mhelp">
                                Need more information? <button class="w3-button w3-text-white" style="background:#29313C" onclick="renda.component('userExtras','contact','dashboardDisplayDiv');">Contact Us</button>
                            </section>
                        </section>
                    </div>
            
                </div>
                
                <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
                <script type="text/javascript" src="assets/js/jquery.validate.js"></script>
                <script type="text/javascript" src="assets/js/jquery-ui.js"></script>
                <script type="text/javascript" src="assets/js/pwstrength.js"></script>
                <script type="text/javascript" src="assets/js/index.js"></script>

            </div>

            
        </div> 
    </div>
    
</div>
<script>stopLoad()</script>