
<style>
    .panel {
      background-color: #F5F5F7;
      border: 1px solid #ddd;
      padding-top: 20px; 
      display: block;
    }
    .btnn {
      background: #29313C; /* Old browsers */
      
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44afe7', endColorstr='#3198df',GradientType=0 );
      color: #fff;
      display: block;
      width: 100%;
      border: 1px solid rgba(46, 86, 153, 0.0980392);
      border-bottom-color: rgba(46, 86, 153, 0.4);
      border-top: 0;
      
      font-size: 17px;
      text-shadow: rgba(46, 86, 153, 0.298039) 0px -1px 0px;
      line-height: 34px;
      -webkit-font-smoothing: antialiased;
      font-weight: bold;
      margin-top: 20px;
    }

    .btnn:hover {
      cursor: pointer;
    }

    .card-number{
    	width: 88% !important;
    	padding-right: 0px !important;
    }

    .cvc{
      width: 75% !important;
    }
    .expiry{
      width: 75% !important;
    }
    .name{
      width: 99% !important;
    }

    .cvc,.card-number,.expiry{
      font-size: 3.3vw !important;
      font-weight: 400;
    }
  </style>
<div id='investment101Page' class="w3-white" >
  <div class="input-text-goal w3-padding"><b>
    <div style="display: block">{{data.title}}</div>
    <div style="display: block">description: {{data.description}}</div>
    <div style="display: block">Last Update: {{data.lastBuildDate}}</div></b>
  </div>
	<div id='investment101Div' class="w3-container w3-margin-top w3-margin-bottom w3-white" >		
      <div v-for="item in data.item" class="single-article" :id="item.guid" style="">
        <div style="color: #29313C; height:160x; max-height: 160px; overflow: hidden;" class="w3-white w3-card  w3-hover-opacity w3-hover-shadow w3-margin " onclick='openLinkInBrowser(this.id)' :id="item.link">
          <div class="display-block input-text-medium w3-text-white center" style="background: #29313C;" > {{item.title}} <span class="input-text-goal">- {{ item.pubDate }}</span>
          </div>
          <div class="w3-padding" style="margin-top: 3px; padding-top: 0px">
            <!-- <button class="input-text-goal w3-button w3-right" onclick='openLinkInBrowser(this.id)' :id="item.link" style="background: #29313C;">View Full Story</button> -->
            <div class="input-text-goal" v-html='item.description'></div>
            <div class="w3-right">{{item.category}}</div>
          </div>
      </div>
      </div>
     

	</div>


</div>

<script src="secured/controller/user_extras.js"></script>
<script type="text/javascript">initInvestment101Page()</script>