
<link rel="stylesheet" href="assets/css/glyphicons.css" type="text/css">

<link rel="stylesheet" href="assets/css/material-design-icons.css" type="text/css">
<div class="w3-card w3-top header-color header" style="">
	<button class="w3-button w3-text-white darken-2 w3-ripple navBtnOpen" style='font-size:7vw !important;font-weight: 800 !important;' onclick="w3_open()" id="openNav">&#9776;</button>
	<button class="w3-button w3-text-white w3-hover-purple navBtnOpen" onclick="w3_close()" id="closeNav" style="display:none;font-size:7vw !important;font-weight: 800 !important;">&#9776;</button>
	<span class="force-center"><img src='secured/assets/img/logo2.png' id="" display:inline-block' style='height:7vw; margin-top:16px;'></span>
</div>
<style>
	body{
		font-family: 'Montserrat', sans-serif;
	}
</style>