
<div id="myDashboard">
  <div id="statsDiv" class="w3-margin w3-padding">
    
    <div id="walletDiv" class="w3-white w3-card w3-padding">
      <div class="input-text-medium " style="margin-bottom:3px"><small>Total Net Worth</small></div>
      <div class="input-text-large">
        <div class="display-inline">
          <span class="display-block">&#8358; 1200000</span>
          <span class="display-block input-text-medium"><small><small>Net Investment</small></small></span>
        </div>
        <div class="display-inline w3-right">
          <span class="display-block">&#8358; 380000</span>
          <span class="display-block input-text-medium"><small><small>Wallet Balance</small></small></span>
        </div>
      </div>
    </div>
   <!--  <div id="walletDiv" class="w3-container">
      <div class="input-text-medium"><small>Today's Yield</small></div>
      <div class="input-text-large w3-large w3-border w3-circle">
        <span class="display-block">&#8358; 1200000</span>
        <span class="display-block input-text-medium"><small><small>Net Investment</small></small></span>
        <br/>
        <span class="display-block">&#8358; 380000</span>
        <span class="display-block input-text-medium"><small><small>Wallet Balance</small></small></span>

      </div>
    </div> -->

    
    
  </div>
</div>

<script src="secured/controller/myDashboard.js"></script>
