   
   <div class="w3-sidebar w3-bar-block w3-striped w3-card-4 w3-animate-left w3-top w3-bottombar border-purple" style="display:none; overflow:hidden" id="mySidebar" >
 
    <ul class='w3-ul w3-striped'>
      <li class=' w3-text-white w3-xlarge w3-center' id='profileArea' style="">
        
        <p v-show="!commonData.User.ProfilePic"></p>
        <img  v-bind:src="commonData.User.ProfilePic" class="w3-circle w3-hide-medium w3-hide-large" style="width:70%"></img>
        <img v-bind:src="commonData.User.ProfilePic" class="w3-circle w3-hide-small" style="width:120px"></img>
        <span class="navFontSize">
            <br/><small>{{commonData.User.Firstname}} {{commonData.User.Surname}}<small style="display: block">{{commonData.User.Email}}</small></small>
        </span>
      </li>
      <button id="loadDashboardBtn" class="w3-bar-item w3-button w3-hover-grey r-nav-item nav-text-color darken-2 " onclick="renda.component('dashboard',)"><i class="fa fa-home w3-margin-right "></i><span class="navFontSize">Dashboard</span></button>

      <!-- client options -->
        <button id="loadGoalManagementBtn" class="w3-bar-item w3-button w3-hover-grey r-nav-item nav-text-color darken-2" onclick="renda.component('goals','goal','dashboardDisplayDiv');"><i class=" fa fa-home w3-margin-right "></i><span class="navFontSize">Goal Management</span></button>

      <!-- content providers options -->
        <button id="loadInvestment101Btn" class="w3-bar-item w3-button w3-hover-grey r-nav-item nav-text-color darken-2" onclick="renda.component('userExtras','investment101','dashboardDisplayDiv');"><i class="fa fa-users w3-margin-right "></i><span class="navFontSize">Investment 101</span></button>

      <!-- content options -->
        <button id="loadCardManagementBtn" class="w3-bar-item w3-button w3-hover-grey r-nav-item nav-text-color darken-2" onclick="renda.component('card','view','dashboardDisplayDiv');"><i class="fa fa-users w3-margin-right"></i><span class="navFontSize">Card Management</span></button>

      <!-- Category options -->
        <button id="loadTransactionBtn" class="w3-bar-item w3-button w3-hover-grey r-nav-item nav-text-color darken-2" onclick="renda.component('categories','view','dashboardDisplayDiv');"><i class="fa fa-users w3-margin-right "></i><span class="navFontSize">My Transactions</span></button>

        <button id="loadActivitiesBtn" class="w3-bar-item w3-button w3-hover-grey r-nav-item nav-text-color darken-2" onclick="renda.component('categories','create','dashboardDisplayDiv');"><i class="fa fa-users w3-margin-right "></i><span class="navFontSize">My Activities</span></button>

        <button id="loadAccountSettings" class="w3-bar-item w3-button w3-hover-grey r-nav-item nav-text-color darken-2" onclick="renda.component('dashboard','stats','dashboardDisplayDiv');"><i class="fa fa-users w3-margin-right "></i><span class="navFontSize">Account Settings</span></button>

        <button id="categoryOptionsBtn" class="w3-bar-item w3-button w3-hover-grey r-nav-item nav-text-color darken-2" onclick="renda.component('dashboard','myDashboard','dashboardDisplayDiv');"><i class="fa fa-users w3-margin-right "></i><span class="navFontSize">Contact Us</span></button>

        <button id="categoryOptionsBtn" class="w3-bar-item w3-button w3-hover-grey r-nav-item nav-text-color darken-2" onclick="renda.component('dashboard','myDashboard','dashboardDisplayDiv');"><i class="fa fa-users w3-margin-right "></i><span class="navFontSize">FAQs</span></button>

       <button id="logoutBtn" class="w3-bar-item w3-button w3-hover-grey r-nav-item nav-text-color darken-2"><i class="fa fa-home w3-margin-right "></i><span class="navFontSize" onclick="logout();">Logout</span></button>
    </ul>
    </div>
           
    <script>

        function navDropDown(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-grey";
            } else { 
                x.className = x.className.replace(" w3-show", "");
                x.previousElementSibling.className = 
                x.previousElementSibling.className.replace(" w3-grey", "");
                x.previousElementSibling.style.backgroundColor = '#ecf0f1';
            }
        }
        $('.menuItemBtn').click(function(){
          $('.menuItemBtn').removeClass('w3-light-grey');
          $(this).addClass('w3-light-grey');
          startLoad()
        });
        /*$('#loadAccountSettings').click(function(){
          
        });
        $('#loadActivitiesBtn').click(function(){
            

        });
        $('#loadTransactionBtn').click(function(){
            
        });

        $('#loadInvestment101Btn').click(function(){
            

        });
        $('#loadGoalManagementBtn').click(function(){
            
        });

        $('#loadCardManagementBtn').click(function(){
            
        });       */
        $('#loadDashboardBtn').click(function(){
            renda.component('dashboard','myDashboard','dashboardDisplayDiv');
        });
      
        $('#logoutBtn').click(function(){
            logout();
        });
    </script>
                
             
                