   <!-- Nav page -->
    <style>
            .navIcon{   
              size: 3vw!important;
              width: 8.0vw;
              filter: brightness(4);
            }
        </style>
   <div class="w3-sidebar w3-bar-block w3-striped w3-card-4 w3-animate-left w3-top w3-bottombar border-purple" style="display:none; display: block;  left: 0px; clip: rect(0px);" id="mySidebar" >
 
    <ul class='w3-ul w3-striped' style="overflow:scroll">
      <li class=' w3-text-white w3-medium w3-center' id='profileArea' style="">
        <p v-show="!commonData.User.ProfilePic"></p>
        <img  v-bind:src="commonData.User.ProfilePic" class="w3-circle w3-hide-medium w3-hide-large" style="width:70%;height:105px"></img>
        <img v-bind:src="commonData.User.ProfilePic" class="w3-circle w3-hide-small" style="width:200px; height:210px"></img>
        <span class="navFontSize" v-if="commonData.User.Firstname">
            <br/><small>{{commonData.User.Firstname}} {{commonData.User.Surname}}<small style="display: block">{{commonData.User.Email}}</small></small>
        </span>
      </li>
     <small>
      <button id="loadDashboardBtn" class= "w3-padding w3-bar-item w3-button w3-hover-grey r-nav-item nav-text-color darken-2 " onclick=""><i class=" w3-margin-right"><img src="img/LineIcons/Menu(Icons)/pdi_dashboard_icon.png" class="navIcon"></i><span class="navFontSize">Dashboard</span></button>

      <!-- client options -->
        <button id="loadGoalManagementBtn" class= "w3-padding w3-bar-item w3-button w3-hover-grey r-nav-item nav-text-color darken-2" onclick=""><i class=" w3-margin-right"><img src="img/LineIcons/Menu(Icons)/pdi_goal_management_icon.png" class="navIcon"></i><span class="navFontSize">Goal</span></button>

      <!-- content providers options -->
        <button id="loadInvestment101Btn" class= "w3-padding w3-bar-item w3-button w3-hover-grey r-nav-item nav-text-color darken-2" onclick=""><i class=" w3-margin-right"><img src="img/LineIcons/Menu(Icons)/pdi_investment_101_icon.png" class="navIcon"></i><span class="navFontSize">Blog</span></button>

      <!-- content options -->
        <button id="loadCardManagementBtn" class= "w3-padding w3-bar-item w3-button w3-hover-grey r-nav-item nav-text-color darken-2" onclick=""><i class=" w3-margin-right"><img src="img/LineIcons/Menu(Icons)/pdi_card_management_icon.png" class="navIcon"></i><span class="navFontSize">Card</span></button>

      <!-- Category options -->
        <button id="loadTransactionBtn" class= "w3-padding w3-bar-item w3-button w3-hover-grey r-nav-item nav-text-color darken-2" onclick=""><i class=" w3-margin-right"><img src="img/LineIcons/Menu(Icons)/pdi_my_transactions_icon.png" class="navIcon"></i><span class="navFontSize">Transactions</span></button>

        <button id="loadActivitiesBtn" class= "w3-padding w3-bar-item w3-button w3-hover-grey r-nav-item nav-text-color darken-2" onclick=""><i class=" w3-margin-right"><img src="img/LineIcons/Menu(Icons)/pdi_my_activities_icon.png" class="navIcon"></i><span class="navFontSize">Activities</span></button>

        <button id="loadAccountSettings" class= "w3-padding w3-bar-item w3-button w3-hover-grey r-nav-item nav-text-color darken-2" onclick=""><i class=" w3-margin-right"><img src="img/LineIcons/Menu(Icons)/pdi_account_settings_icon.png" class="navIcon"></i><span class="navFontSize">Settings</span></button>

        <button id="loadContactUsBtn" class= "w3-padding w3-bar-item w3-button w3-hover-grey r-nav-item nav-text-color darken-2" onclick="renda.component('dashboard','myDashboard','dashboardDisplayDiv');"><i class=" w3-margin-right"><img src="img/LineIcons/Menu(Icons)/pdi_contact_us_icon.png" class="navIcon"></i><span class="navFontSize">Contact Us</span></button>

        <button id="loadFAQBtn" class= "w3-padding w3-bar-item w3-button w3-hover-grey r-nav-item nav-text-color darken-2" onclick=""><i class=" w3-margin-right"><img src="img/LineIcons/Menu(Icons)/pdi_faqs.png" class="navIcon"></i><span class="navFontSize">FAQs</span></button>

       <button id="logoutBtn" class= "w3-padding w3-bar-item w3-button w3-hover-grey r-nav-item nav-text-color darken-2"><i class=" w3-margin-right"><img src="img/LineIcons/Secondary(Icons)/pdi_logout_icon.png" class="navIcon"></i><span class="navFontSize" onclick="logout();">Logout</span></button>
    </small>
    </ul>
    </div>
           
    <script>

        function navDropDown(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-grey";
            } else { 
                x.className = x.className.replace(" w3-show", "");
                x.previousElementSibling.className = 
                x.previousElementSibling.className.replace(" w3-grey", "");
                x.previousElementSibling.style.backgroundColor = '#ecf0f1';
            }
        }
        
        
     
    
      
        $('#logoutBtn').click(function(){
            logout();
        });
    </script>
                
             
                