@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 200;
  src: local('Exo 2 Extra Light'), local('Exo2-ExtraLight'), url(https://fonts.gstatic.com/s/exo2/v4/RFCNDwJa8dM0kzqVeuqPjPesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
