    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <div id="dashboardDiv" class="img-background">
        <div id="dashboardNavDiv"></div>
        <div zclass="w3-main" id="main">
            <div id="dashboadHeaderDiv" class=""></div> 
            <div>  
            <div class="loadingbar" style="position:fixed; top:45%; right:45%;z-index:1000">
                <div>
                    <div id="loader" class="w3-spin"></div>
                </div>
            </div>
            <div class="w3-card w3-white w3-text-green input-text-medium w3-padding" style="margin-top: 15%" id="appTitleDisplayDiv">
                {{vm.title}}
            </div>
            <div id="dashboardDisplayDiv" style="margin-top: 5px"></div>
            </div>
        </div>
    </div>

    <!-- scripts -->
    
    <script src="secured/assets/js/jquery-ui/jquery-ui.min.js"></script> 
    <script src="secured/assets/fileupload/jquery.iframe-transport.js"></script>
    <script src="secured/assets/fileupload/jquery.ui.widget.js"></script>
    <script src="secured/assets/fileupload/jquery.fileupload.js"></script>
    <script src="secured/assets/ajax/libs/vue.js"></script>
    <script src="secured/assets/js/moment.js"></script>
    <script type="text/javascript" src="secured/assets/DataTables/datatables.min.js"></script>
    <script src="secured/assets/ajax/libs/Chart.min.js"></script>
    <script type="text/javascript" src="secured/controller/dashboard.js"></script>
    <script type="text/javascript">stopLoad()</script>
