	<style>
		.w3-display-topleft,.w3-display-topright{
			top: 0px;
			margin-top: 5px!important;
			padding: 0px!important;
		}
		@media (max-width:641px)  { 
			/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
			.backgroundImg{
				background: #29313C; 
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				background-attachment: fixed!important;

				background-image: url("assets/images/PayDay-Investor-(Login-Page)_bg.jpg")
				;
			}
			.mobileBlock{
				display: block;
				padding: 0px!important;
				margin:0px!important
			}
			.w3-display-middle{
				/* left: 45%!important; */
			}
			.height-cover{
				height: -webkit-fill-available;
			}
			.font-family-montserrat{
				font-family: 'Montserrat', sans-serif;
			}
			.customized-input{
				padding-left: 15px!important;
				height: auto!important;
				text-align: right!important;
			}
			.font-medium{
				font-size: 15px;
			}
			.font-small{
				font-size: 10px;
			}
			.font-large{
				font-size: 15px;
			}
			.pdy-green{
				background: #2CB34A!important;
				color:#fff!important;
			}
			.pdy-padding{
				padding: 8px!important;
			}
			.pdy-padding-bottom-md{
				padding-bottom: 30px!important;
			}
			.pdy-padding-left-ex{
				padding-left:20px!important                
			}
			.pdy-padding-right-ex{
				padding-right:20px!important
			}
			.pdy-border{
				border:2px solid white;
			}
			.pdy-logo{
				width: 100px !important;
				/* margin-left: 40px!important; */
			}
			input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
				background-color: transparent !important;
				background-image: none !important;
				color: white!important
			}
			.forgot-password{
				right: 0px !important;
				position: absolute;
				margin-bottom: 40px;
			}
			.fa{
				display: inline!important;
				position: absolute!important;
				color: white!important;
				font-size: 22px!important;
				margin-top: 8px;
				background: #383d43;
			}
		}
	
		@media (min-width:642px)  { 
			/* tablet, landscape iPad, lo-res laptops ands desktops */ 
			.backgroundImg{
				background: #29313C; 
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				background-attachment: fixed!important;

				background-image: url("assets/images/PayDay-Investor-(Login-Page)_bg.jpg")
				;
			}
			.height-cover{
				height: -webkit-fill-available;
			}
			.font-family-montserrat{
				font-family: 'Montserrat', sans-serif;
			}
			.customized-input{
				padding-left: 15px!important;
				height: auto!important;
				text-align: center!important;
			}
			.font-medium{
				font-size:1.5vw!important;
			}
			.font-small{
				font-size:1.0vw!important;
			}
			.font-large{
				font-size:3.0vw!important;
			}
			.pdy-green{
				background: #2CB34A!important;
				color:#fff!important;
			}
			.pdy-padding{
				padding: 20px!important;
			}
			.pdy-padding-bottom-md{
				padding-bottom: 30px!important;
			}
			.pdy-padding-left-ex{
				padding-left:50px!important                
			}
			.pdy-padding-right-ex{
				padding-right:50px!important
			}
			.pdy-border{
				border:4px solid white;
			}
			.pdy-logo{
				width: 130px !important;
				/* margin-left: 40px!important; */
			}
			input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
				background-color: transparent !important;
				background-image: none !important;
				color: white!important
			}
			.forgot-password{
				right: 0px !important;
				position: absolute;
				margin-bottom: 40px;
			}
			.fa{
				display: inline!important;
				position: absolute!important;
				color: white!important;
				font-size: 30px!important;
				margin-top: 3px;
				background: #383d43;
			}
		} 
		.w3-button:hover{
			background-color: transparent!important;
			border: 2px solid white;
			color: #fff!important;
		}
	</style>
    <section style="background:#363d48!important">
        <div class="backgroundImg w3-display-container height-cover font-family-montserrat  ">
           
           
            <div class="w3-display-middle w3-animate-right  ">
                <div class="w3-container w3-center">
                    <img src="img/Logos/PayDay_Investor_White_Logo.png" class="pdy-logo pdy-padding w3-margin"/>
                </div>
                <div class="w3-text-white w3-center w3-container font-medium ">
                    <p class="  ">WELCOME</p>
                    <center><p class="w3-green " style="width:40px;height:2px"></p></center>
                </div> 
                <div class="w3-text-white w3-center font-medium w3-padding ">
                    Please select an option
                </div> 
                <form class="" onsubmit="event.preventDefault();">
                    <div class="w3-margin">
                        <button class="w3-btn font-small w3-border-white w3-text-white w3-padding w3-bordered w3-border" onclick="renda.page('login')" style="width:100%;padding-top: 15px!important;padding-bottom: 15px!important;" type="button"><b>EXISTING PAYDAY CLIENT? LOGIN &rarr;</b></button>      
                        
                    </div>     
                    <div class="w3-margin">
                        
                        <button class="w3-btn pdy-green font-small w3-padding w3-bordered w3-border w3-border-green" onclick="renda.page('register')" style="width:100%;padding-top: 15px!important;padding-bottom: 15px!important;" type="button"><b>NEW TO PAYDAY? CREATE AN ACCOUNT &rarr;</b></button>      
                                            
                    </div>
                    
                </form>
            </div>
          
        </div>
	</section>
	
 <script>renda.loader('stop')  </script>
