<!DOCTYPE html>
<html>
    <head>

        <link href="assets/css/w3.css" rel="stylesheet"/>            
        <style>
            .backgroundImg{
                background: #29313C; 
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url("assets/login_assets/PayDay-Investor-(Login-Page)_bg.jpg")
                ;
            }
            .height-cover{
                height: -webkit-fill-available;
            }

        </style>
    </head>
    <body>
        <div class="backgroundImg w3-display-container height-cover">
            <div class="w3-display-middle">
                <form class="w3-container">
                    <div>
                        <label>First Name</label>
                        <input class="w3-input" type="text">
                    </div>     
                    <div>
                        <label>Last Namel</label>
                        <input class="w3-input" type="text">
                    </div>
                    <div>
                        <button class="w3-btn w3-blue-grey">Register</button>                    
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>

<script>stopLoad()</script>