<style>
    @media (min-width:642px)  { 
        .slide1{
        background-image: url("secured/assets/img/slide2LARGE.jpg");            
        }
        .slide2{
        background-image: url("secured/assets/img/slide3LARGE.jpg");            
        }
    }

    @media (max-width:641px)  { 
        .slide2{
            background-image: url("secured/assets/img/slide3SMALL.jpg");
        }
        .slide1{
            background-image: url("secured/assets/img/slide2SMALL.jpg");
        }
    }
    .mySlides {
        background-size: 100% auto;
        background-position: center top;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height:100vh;
    }

   
    #splashContainer{
        
    }
    .w3-left, .w3-right, .w3-badge {cursor:pointer}
    .w3-badge {height:13px;width:13px;padding:0}
    #splashscreenDiv{background: #fff !important;height: 100%;width: 100%;position: fixed;}
</style>
<div id="splashscreenDiv">
    <div id="splashContainer" >
        <div id='slider' class='swipe'>
            <div class='swipe-wrap'>
                <div class="mySlides slide1">
                        <div class="w3-container" style="position:fixed;bottom:0;right:2%;z-index:1000">
                                <button class="w3-btn w3-text-white w3-margin w3-padding w3-large w3-round" onclick="renda.page('home')" style="background:#2c1138;"><small>Skip >></small></button>
                            </div>    
                </div>
                <div class="mySlides slide2">
                    <div class="w3-container" style="position:fixed;bottom:0;right:2%;z-index:1000">
                        <button class="w3-btn w3-text-white w3-margin w3-padding w3-large w3-round" onclick="renda.page('home')" style="background:#2c1138;"><small>Skip >></small></button>
                    </div>    
                </div>
                <div class="mySlides slide3">
                   
                </div>
            </div>
        </div>
        
    </div>
    
</div>


<script>
   window.mySwipe = new Swipe(document.getElementById('slider'), {
        startSlide: 0,
        speed: 500,
        auto: 0,
        continuous: true,
        disableScroll: false,
        stopPropagation: false,
        callback: function (index, elem) { 
            if(index==2){
                renda.page('home')
            }
        },
        transitionEnd: function (index, elem) { }
    });
    
    stopLoad()
    


    
</script>