<style>
    .mySlides {
        
        width: 100%;
    }
    #splashContainer{

    }
    .w3-left, .w3-right, .w3-badge {cursor:pointer}
    .w3-badge {height:13px;width:13px;padding:0}
    #splashscreenDiv{background: #321241 !important;height: 100%;width: 100%;position: fixed;}
</style>
<div id="splashscreenDiv">
    <div id="splashContainer">
        <div id='slider' class='swipe'>
            <div class='swipe-wrap'>
                <div>
                    <img class="mySlides" src="secured/assets/img/Wedding.jpg">                
                </div>
                <div>
                    <img class="mySlides" src="secured/assets/img/School-Fees.jpg">
                </div>
                <div>
                    <img class="mySlides" src="secured/assets/img/Bottles-to-rent.jpg">                
                </div>
            </div>
        </div>
        <div class="w3-container" style="position:fixed;bottom:0px;right:2%">
            <button class="w3-btn w3-text-white w3-margin w3-padding w3-large" onclick="renda.page('login')" style="background:#2c1138">Skip >></button>
        </div>
    </div>
</div>


<script>
   window.mySwipe = new Swipe(document.getElementById('slider'), {
        startSlide: 0,
        speed: 400,
        auto: 0,
        continuous: true,
        disableScroll: false,
        stopPropagation: false,
        callback: function (index, elem) { },
        transitionEnd: function (index, elem) { }
    });
    
    stopLoad()
    
</script>