#profileArea{
    background-image: url("../img/arm-bg.jpg");
    background-color: #281332;
    background-size: contain;
    background-repeat: no-repeat
}

.background-color{
    background-color: #281332;
}

#mySidebar{
    background-color: #bbb;
}

.navFontSize{
    font-size:4vw !important;
    font-weight: 800 !important;
}