#profileArea{
    background-image: url("../img/arm-bg.jpg");
    background-color: #281332;
    background-size: contain;
    background-repeat: no-repeat
}

.background-color{
    background-color: #281332;
}

#mySidebar{
    background-color: #bbb;
}

.navFontSize{
    font-size:4vw !important;
    font-weight: 800 !important;
}
navBtnOpen{
    font-size:7vw !important;
    font-weight: 800 !important;
}
.header{
    height:auto; 
    
}

.force-center{
    position: absolute;
    left:45%;
    right:45%;
}